{
  "swagger": "2.0",
  "info": {
    "description": "The Billogram API is built according to RESTful principles, which means it uses HTTP as an application protocol rather than just as a transport layer for a custom protocol, like SOAP does. In other words, HTTP features such as the various request types (GET, PUT, POST, DELETE), response codes (403 Forbidden, 404 Not Found, 500 Internal Server Error) and standard headers (Accept, Authorization, Cache-Control) are a part of the API.",
    "version": "1.0.0",
    "title": "Swagger Invoice/Billogram",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "billogram@billogram.se"
    }
  },
  "host": "sandbox.billogram.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/billogram": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "due_days": {
                        "type": "integer",
                        "format": "int32",
                        "description": "due_days",
                        "x-ms-summary": "due_days"
                      },
                      "info": {
                        "type": "object",
                        "properties": {
                          "reference_number": {
                            "type": "string",
                            "description": "reference_number",
                            "x-ms-summary": "reference_number"
                          },
                          "our_reference": {
                            "type": "string",
                            "description": "our_reference",
                            "x-ms-summary": "our_reference"
                          },
                          "order_no": {
                            "type": "string",
                            "description": "order_no",
                            "x-ms-summary": "order_no"
                          },
                          "shipping_date": {
                            "type": "string",
                            "description": "shipping_date",
                            "x-ms-summary": "shipping_date"
                          },
                          "order_date": {
                            "type": "string",
                            "description": "order_date",
                            "x-ms-summary": "order_date"
                          },
                          "message": {
                            "type": "string",
                            "description": "message",
                            "x-ms-summary": "message"
                          },
                          "delivery_date": {
                            "type": "string",
                            "description": "delivery_date",
                            "x-ms-summary": "delivery_date"
                          },
                          "your_reference": {
                            "type": "string",
                            "description": "your_reference",
                            "x-ms-summary": "your_reference"
                          }
                        },
                        "description": "info",
                        "x-ms-summary": "info"
                      },
                      "attested_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "attested_at",
                        "x-ms-summary": "attested_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "updated_at",
                        "x-ms-summary": "updated_at"
                      },
                      "automatic_collection": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "amount",
                            "x-ms-summary": "amount"
                          },
                          "delay_days": {
                            "type": "string",
                            "description": "delay_days",
                            "x-ms-summary": "delay_days"
                          }
                        },
                        "description": "automatic_collection",
                        "x-ms-summary": "automatic_collection"
                      },
                      "currency": {
                        "type": "string",
                        "description": "currency",
                        "x-ms-summary": "currency"
                      },
                      "detailed_sums": {
                        "type": "object",
                        "properties": {
                          "credited_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "credited_sum",
                            "x-ms-summary": "credited_sum"
                          },
                          "net_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "net_sum",
                            "x-ms-summary": "net_sum"
                          },
                          "gross_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "gross_sum",
                            "x-ms-summary": "gross_sum"
                          },
                          "invoice_fee_vat": {
                            "type": "integer",
                            "format": "int32",
                            "description": "invoice_fee_vat",
                            "x-ms-summary": "invoice_fee_vat"
                          },
                          "paid_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "paid_sum",
                            "x-ms-summary": "paid_sum"
                          },
                          "interest_fee": {
                            "type": "integer",
                            "format": "int32",
                            "description": "interest_fee",
                            "x-ms-summary": "interest_fee"
                          },
                          "vat_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "vat_sum",
                            "x-ms-summary": "vat_sum"
                          },
                          "reminder_fee": {
                            "type": "integer",
                            "format": "int32",
                            "description": "reminder_fee",
                            "x-ms-summary": "reminder_fee"
                          },
                          "invoice_fee": {
                            "type": "integer",
                            "format": "int32",
                            "description": "invoice_fee",
                            "x-ms-summary": "invoice_fee"
                          },
                          "rounding": {
                            "type": "integer",
                            "format": "int32",
                            "description": "rounding",
                            "x-ms-summary": "rounding"
                          },
                          "regional_sweden": {
                            "type": "object",
                            "properties": {
                              "rotavdrag_sum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "rotavdrag_sum",
                                "x-ms-summary": "rotavdrag_sum"
                              }
                            },
                            "description": "regional_sweden",
                            "x-ms-summary": "regional_sweden"
                          },
                          "collector_paid_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "collector_paid_sum",
                            "x-ms-summary": "collector_paid_sum"
                          },
                          "remaining_sum": {
                            "type": "integer",
                            "format": "int32",
                            "description": "remaining_sum",
                            "x-ms-summary": "remaining_sum"
                          }
                        },
                        "description": "detailed_sums",
                        "x-ms-summary": "detailed_sums"
                      },
                      "id": {
                        "type": "string",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "reminder_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "reminder_fee",
                        "x-ms-summary": "reminder_fee"
                      },
                      "interest_rate": {
                        "type": "number",
                        "format": "float",
                        "description": "interest_rate",
                        "x-ms-summary": "interest_rate"
                      },
                      "state": {
                        "type": "string",
                        "description": "state",
                        "x-ms-summary": "state"
                      },
                      "offers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "offers",
                        "x-ms-summary": "offers"
                      },
                      "attachment": {
                        "type": "string",
                        "description": "attachment",
                        "x-ms-summary": "attachment"
                      },
                      "automatic_reminders": {
                        "type": "boolean",
                        "description": "automatic_reminders",
                        "x-ms-summary": "automatic_reminders"
                      },
                      "rounding_value": {
                        "type": "string",
                        "description": "rounding_value",
                        "x-ms-summary": "rounding_value"
                      },
                      "ocr_number": {
                        "type": "string",
                        "description": "ocr_number",
                        "x-ms-summary": "ocr_number"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type",
                              "x-ms-summary": "type"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "created_at",
                              "x-ms-summary": "created_at"
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "total_sum": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "total_sum",
                                  "x-ms-summary": "total_sum"
                                },
                                "scanning_central": {
                                  "type": "boolean",
                                  "description": "scanning_central",
                                  "x-ms-summary": "scanning_central"
                                },
                                "remaining_sum": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "remaining_sum",
                                  "x-ms-summary": "remaining_sum"
                                },
                                "amount": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "amount",
                                  "x-ms-summary": "amount"
                                },
                                "delivery_method": {
                                  "type": "string",
                                  "description": "delivery_method",
                                  "x-ms-summary": "delivery_method"
                                },
                                "invoice_no": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "invoice_no",
                                  "x-ms-summary": "invoice_no"
                                }
                              },
                              "description": "data",
                              "x-ms-summary": "data"
                            }
                          }
                        },
                        "description": "events",
                        "x-ms-summary": "events"
                      },
                      "sales_accepted": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "sales_accepted",
                        "x-ms-summary": "sales_accepted"
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "due_date",
                        "x-ms-summary": "due_date"
                      },
                      "automatic_reminders_settings": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "automatic_reminders_settings",
                        "x-ms-summary": "automatic_reminders_settings"
                      },
                      "invoice_fee_vat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "invoice_fee_vat",
                        "x-ms-summary": "invoice_fee_vat"
                      },
                      "invoice_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "invoice_date",
                        "x-ms-summary": "invoice_date"
                      },
                      "reminder_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "reminder_count",
                        "x-ms-summary": "reminder_count"
                      },
                      "callbacks": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "url",
                            "x-ms-summary": "url"
                          },
                          "sign_key": {
                            "type": "string",
                            "description": "sign_key",
                            "x-ms-summary": "sign_key"
                          },
                          "custom": {
                            "type": "string",
                            "description": "custom",
                            "x-ms-summary": "custom"
                          }
                        },
                        "description": "callbacks",
                        "x-ms-summary": "callbacks"
                      },
                      "interest_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "interest_fee",
                        "x-ms-summary": "interest_fee"
                      },
                      "invoice_no": {
                        "type": "integer",
                        "format": "int32",
                        "description": "invoice_no",
                        "x-ms-summary": "invoice_no"
                      },
                      "customer": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name",
                            "x-ms-summary": "name"
                          },
                          "vat_no": {
                            "type": "string",
                            "description": "vat_no",
                            "x-ms-summary": "vat_no"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone",
                            "x-ms-summary": "phone"
                          },
                          "customer_no": {
                            "type": "integer",
                            "format": "int32",
                            "description": "customer_no",
                            "x-ms-summary": "customer_no"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "city",
                                "x-ms-summary": "city"
                              },
                              "country": {
                                "type": "string",
                                "description": "country",
                                "x-ms-summary": "country"
                              },
                              "attention": {
                                "type": "string",
                                "description": "attention",
                                "x-ms-summary": "attention"
                              },
                              "zipcode": {
                                "type": "string",
                                "description": "zipcode",
                                "x-ms-summary": "zipcode"
                              },
                              "careof": {
                                "type": "string",
                                "description": "careof",
                                "x-ms-summary": "careof"
                              },
                              "street_address": {
                                "type": "string",
                                "description": "street_address",
                                "x-ms-summary": "street_address"
                              }
                            },
                            "description": "address",
                            "x-ms-summary": "address"
                          },
                          "email": {
                            "type": "string",
                            "description": "email",
                            "x-ms-summary": "email"
                          },
                          "org_no": {
                            "type": "string",
                            "description": "org_no",
                            "x-ms-summary": "org_no"
                          }
                        },
                        "description": "customer",
                        "x-ms-summary": "customer"
                      },
                      "invoice_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "invoice_fee",
                        "x-ms-summary": "invoice_fee"
                      },
                      "url": {
                        "type": "string",
                        "description": "url",
                        "x-ms-summary": "url"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "format": "int32",
                              "description": "count",
                              "x-ms-summary": "count"
                            },
                            "item_no": {
                              "type": "string",
                              "description": "item_no",
                              "x-ms-summary": "item_no"
                            },
                            "description": {
                              "type": "string",
                              "description": "description",
                              "x-ms-summary": "description"
                            },
                            "title": {
                              "type": "string",
                              "description": "title",
                              "x-ms-summary": "title"
                            },
                            "regional_sweden": {
                              "type": "object",
                              "properties": {
                                "electricity_collection": {
                                  "type": "object",
                                  "properties": {
                                    "nyttighet": {
                                      "type": "string",
                                      "description": "nyttighet",
                                      "x-ms-summary": "nyttighet"
                                    }
                                  },
                                  "description": "electricity_collection",
                                  "x-ms-summary": "electricity_collection"
                                },
                                "rotavdrag": {
                                  "type": "boolean",
                                  "description": "rotavdrag",
                                  "x-ms-summary": "rotavdrag"
                                }
                              },
                              "description": "regional_sweden",
                              "x-ms-summary": "regional_sweden"
                            },
                            "price": {
                              "type": "integer",
                              "format": "int32",
                              "description": "price",
                              "x-ms-summary": "price"
                            },
                            "discount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "discount",
                              "x-ms-summary": "discount"
                            },
                            "unit": {
                              "type": "string",
                              "description": "unit",
                              "x-ms-summary": "unit"
                            },
                            "bookkeeping": {
                              "type": "object",
                              "properties": {
                                "objects": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "objects",
                                  "x-ms-summary": "objects"
                                },
                                "vat_account": {
                                  "type": "string",
                                  "description": "vat_account",
                                  "x-ms-summary": "vat_account"
                                },
                                "income_account": {
                                  "type": "string",
                                  "description": "income_account",
                                  "x-ms-summary": "income_account"
                                }
                              },
                              "description": "bookkeeping",
                              "x-ms-summary": "bookkeeping"
                            },
                            "vat": {
                              "type": "integer",
                              "format": "int32",
                              "description": "vat",
                              "x-ms-summary": "vat"
                            }
                          }
                        },
                        "description": "items",
                        "x-ms-summary": "items"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "created_at",
                        "x-ms-summary": "created_at"
                      },
                      "total_sum": {
                        "type": "integer",
                        "format": "int32",
                        "description": "total_sum",
                        "x-ms-summary": "total_sum"
                      },
                      "delivery_method": {
                        "type": "string",
                        "description": "delivery_method",
                        "x-ms-summary": "delivery_method"
                      },
                      "remaining_sum": {
                        "type": "integer",
                        "format": "int32",
                        "description": "remaining_sum",
                        "x-ms-summary": "remaining_sum"
                      },
                      "flags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "flags",
                        "x-ms-summary": "flags"
                      },
                      "regional_sweden": {
                        "type": "object",
                        "properties": {
                          "rotavdrag_personal_number": {
                            "type": "string",
                            "description": "rotavdrag_personal_number",
                            "x-ms-summary": "rotavdrag_personal_number"
                          },
                          "electricity_collection": {
                            "type": "object",
                            "properties": {
                              "kommunkod": {
                                "type": "string",
                                "description": "kommunkod",
                                "x-ms-summary": "kommunkod"
                              },
                              "slutfaktura": {
                                "type": "string",
                                "description": "slutfaktura",
                                "x-ms-summary": "slutfaktura"
                              },
                              "kravmall": {
                                "type": "string",
                                "description": "kravmall",
                                "x-ms-summary": "kravmall"
                              },
                              "naringsidkare": {
                                "type": "string",
                                "description": "naringsidkare",
                                "x-ms-summary": "naringsidkare"
                              },
                              "objtyp": {
                                "type": "string",
                                "description": "objtyp",
                                "x-ms-summary": "objtyp"
                              },
                              "avflyttad": {
                                "type": "string",
                                "description": "avflyttad",
                                "x-ms-summary": "avflyttad"
                              },
                              "frankopplad_datum": {
                                "type": "string",
                                "description": "frankopplad_datum",
                                "x-ms-summary": "frankopplad_datum"
                              },
                              "plombkod": {
                                "type": "string",
                                "description": "plombkod",
                                "x-ms-summary": "plombkod"
                              },
                              "anladr": {
                                "type": "string",
                                "description": "anladr",
                                "x-ms-summary": "anladr"
                              },
                              "avflyttad_datum": {
                                "type": "string",
                                "description": "avflyttad_datum",
                                "x-ms-summary": "avflyttad_datum"
                              },
                              "faktforb": {
                                "type": "string",
                                "description": "faktforb",
                                "x-ms-summary": "faktforb"
                              },
                              "natom": {
                                "type": "string",
                                "description": "natom",
                                "x-ms-summary": "natom"
                              },
                              "anlid": {
                                "type": "string",
                                "description": "anlid",
                                "x-ms-summary": "anlid"
                              },
                              "faktfrek": {
                                "type": "string",
                                "description": "faktfrek",
                                "x-ms-summary": "faktfrek"
                              },
                              "arsforb": {
                                "type": "string",
                                "description": "arsforb",
                                "x-ms-summary": "arsforb"
                              },
                              "frankopplad": {
                                "type": "string",
                                "description": "frankopplad",
                                "x-ms-summary": "frankopplad"
                              }
                            },
                            "description": "electricity_collection",
                            "x-ms-summary": "electricity_collection"
                          },
                          "autogiro_payment_date": {
                            "type": "string",
                            "description": "autogiro_payment_date",
                            "x-ms-summary": "autogiro_payment_date"
                          },
                          "autogiro_status": {
                            "type": "string",
                            "description": "autogiro_status",
                            "x-ms-summary": "autogiro_status"
                          },
                          "rotavdrag_housing_association_org_no": {
                            "type": "string",
                            "description": "rotavdrag_housing_association_org_no",
                            "x-ms-summary": "rotavdrag_housing_association_org_no"
                          },
                          "autogiro_full_status": {
                            "type": "string",
                            "description": "autogiro_full_status",
                            "x-ms-summary": "autogiro_full_status"
                          },
                          "efaktura_requested_amount": {
                            "type": "string",
                            "description": "efaktura_requested_amount",
                            "x-ms-summary": "efaktura_requested_amount"
                          },
                          "rotavdrag_description": {
                            "type": "string",
                            "description": "rotavdrag_description",
                            "x-ms-summary": "rotavdrag_description"
                          },
                          "autogiro_total_sum": {
                            "type": "string",
                            "description": "autogiro_total_sum",
                            "x-ms-summary": "autogiro_total_sum"
                          },
                          "efaktura_recipient_bank_code": {
                            "type": "string",
                            "description": "efaktura_recipient_bank_code",
                            "x-ms-summary": "efaktura_recipient_bank_code"
                          },
                          "rotavdrag_apartment_designation": {
                            "type": "string",
                            "description": "rotavdrag_apartment_designation",
                            "x-ms-summary": "rotavdrag_apartment_designation"
                          },
                          "rotavdrag_description_of_property": {
                            "type": "string",
                            "description": "rotavdrag_description_of_property",
                            "x-ms-summary": "rotavdrag_description_of_property"
                          },
                          "efaktura_recipient_bank_id": {
                            "type": "string",
                            "description": "efaktura_recipient_bank_id",
                            "x-ms-summary": "efaktura_recipient_bank_id"
                          },
                          "rotavdrag": {
                            "type": "integer",
                            "format": "int32",
                            "description": "rotavdrag",
                            "x-ms-summary": "rotavdrag"
                          },
                          "efaktura_recipient_type": {
                            "type": "string",
                            "description": "efaktura_recipient_type",
                            "x-ms-summary": "efaktura_recipient_type"
                          },
                          "efaktura_recipient_bank_name": {
                            "type": "string",
                            "description": "efaktura_recipient_bank_name",
                            "x-ms-summary": "efaktura_recipient_bank_name"
                          },
                          "autogiro_betalarnummer": {
                            "type": "string",
                            "description": "autogiro_betalarnummer",
                            "x-ms-summary": "autogiro_betalarnummer"
                          },
                          "reversed_vat": {
                            "type": "string",
                            "description": "reversed_vat",
                            "x-ms-summary": "reversed_vat"
                          },
                          "efaktura_recipient_identifier": {
                            "type": "string",
                            "description": "efaktura_recipient_identifier",
                            "x-ms-summary": "efaktura_recipient_identifier"
                          },
                          "efaktura_recipient_id_number": {
                            "type": "string",
                            "description": "efaktura_recipient_id_number",
                            "x-ms-summary": "efaktura_recipient_id_number"
                          }
                        },
                        "description": "regional_sweden",
                        "x-ms-summary": "regional_sweden"
                      }
                    },
                    "description": "data",
                    "x-ms-summary": "data"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Search Billogram",
        "operationId": "Get_Search_billogram",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "filter_type",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_field",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_value",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_field",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_direction",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Search Billogram",
        "security": [
          {
            "basic_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Create Billogram",
        "description": "Create Billogram",
        "operationId": "Post_billogram",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "customer": {
                  "type": "object",
                  "properties": {
                    "customerNumber": {
                      "type": "string",
                      "description": "customerNumber",
                      "x-ms-summary": "customerNumber"
                    },
                    "addressCareofOrAtt": {
                      "type": "string",
                      "description": "addressCareofOrAtt",
                      "x-ms-summary": "addressCareofOrAtt"
                    },
                    "addressCareofOrAttValue": {
                      "type": "string",
                      "description": "addressCareofOrAttValue",
                      "x-ms-summary": "addressCareofOrAttValue"
                    },
                    "addressCity": {
                      "type": "string",
                      "description": "addressCity",
                      "x-ms-summary": "addressCity"
                    },
                    "addressCountry": {
                      "type": "string",
                      "description": "addressCountry",
                      "x-ms-summary": "addressCountry"
                    },
                    "addressStreet": {
                      "type": "string",
                      "description": "addressStreet",
                      "x-ms-summary": "addressStreet"
                    },
                    "addressZipcode": {
                      "type": "string",
                      "description": "addressZipcode",
                      "x-ms-summary": "addressZipcode"
                    },
                    "companyLocality": {
                      "type": "string",
                      "description": "companyLocality",
                      "x-ms-summary": "companyLocality"
                    },
                    "customerLanguage": {
                      "type": "string",
                      "description": "customerLanguage",
                      "x-ms-summary": "customerLanguage"
                    },
                    "customerNumberType": {
                      "type": "string",
                      "description": "customerNumberType",
                      "x-ms-summary": "customerNumberType"
                    },
                    "companyType": {
                      "type": "string",
                      "description": "companyType",
                      "x-ms-summary": "companyType"
                    },
                    "email": {
                      "type": "string",
                      "description": "email",
                      "x-ms-summary": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
                      "x-ms-summary": "name"
                    },
                    "notes": {
                      "type": "string",
                      "description": "notes",
                      "x-ms-summary": "notes"
                    },
                    "orgNo": {
                      "type": "string",
                      "description": "orgNo",
                      "x-ms-summary": "orgNo"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone",
                      "x-ms-summary": "phone"
                    },
                    "recipientName": {
                      "type": "string",
                      "description": "recipientName",
                      "x-ms-summary": "recipientName"
                    },
                    "shippingAddressCareof": {
                      "type": "string",
                      "description": "shippingAddressCareof",
                      "x-ms-summary": "shippingAddressCareof"
                    },
                    "shippingAddressCity": {
                      "type": "string",
                      "description": "shippingAddressCity",
                      "x-ms-summary": "shippingAddressCity"
                    },
                    "shippingAddressCountry": {
                      "type": "string",
                      "description": "shippingAddressCountry",
                      "x-ms-summary": "shippingAddressCountry"
                    },
                    "shippingAddressName": {
                      "type": "string",
                      "description": "shippingAddressName",
                      "x-ms-summary": "shippingAddressName"
                    },
                    "shippingAddressStreet": {
                      "type": "string",
                      "description": "shippingAddressStreet",
                      "x-ms-summary": "shippingAddressStreet"
                    },
                    "shippingAddressZipcode": {
                      "type": "string",
                      "description": "shippingAddressZipcode",
                      "x-ms-summary": "shippingAddressZipcode"
                    },
                    "vatNo": {
                      "type": "string",
                      "description": "vatNo",
                      "x-ms-summary": "vatNo"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id",
                      "x-ms-summary": "id"
                    }
                  },
                  "description": "customer",
                  "x-ms-summary": "customer"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "amount",
                        "x-ms-summary": "amount"
                      },
                      "discount": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "currency",
                            "x-ms-summary": "currency"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "value",
                            "x-ms-summary": "value"
                          }
                        },
                        "description": "discount",
                        "x-ms-summary": "discount"
                      },
                      "price": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "currency",
                            "x-ms-summary": "currency"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "value",
                            "x-ms-summary": "value"
                          }
                        },
                        "description": "price",
                        "x-ms-summary": "price"
                      },
                      "save": {
                        "type": "boolean",
                        "description": "save",
                        "x-ms-summary": "save"
                      },
                      "description": {
                        "type": "string",
                        "description": "description",
                        "x-ms-summary": "description"
                      },
                      "incomeAccount": {
                        "type": "string",
                        "description": "incomeAccount",
                        "x-ms-summary": "incomeAccount"
                      },
                      "itemNo": {
                        "type": "string",
                        "description": "itemNo",
                        "x-ms-summary": "itemNo"
                      },
                      "title": {
                        "type": "string",
                        "description": "title",
                        "x-ms-summary": "title"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit",
                        "x-ms-summary": "unit"
                      },
                      "vat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "vat",
                        "x-ms-summary": "vat"
                      },
                      "vatAccount": {
                        "type": "string",
                        "description": "vatAccount",
                        "x-ms-summary": "vatAccount"
                      },
                      "id": {
                        "type": "string",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "rotRutDeduction": {
                        "type": "boolean",
                        "description": "rotRutDeduction",
                        "x-ms-summary": "rotRutDeduction"
                      }
                    }
                  },
                  "description": "items",
                  "x-ms-summary": "items"
                },
                "invoiceFee": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "currency",
                      "x-ms-summary": "currency"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "invoiceFee",
                  "x-ms-summary": "invoiceFee"
                },
                "rotRutDeduction": {
                  "type": "object",
                  "properties": {
                    "pins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pin": {
                            "type": "string",
                            "description": "pin",
                            "x-ms-summary": "pin"
                          }
                        }
                      },
                      "description": "pins",
                      "x-ms-summary": "pins"
                    },
                    "sum": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "currency",
                          "x-ms-summary": "currency"
                        },
                        "value": {
                          "type": "number",
                          "format": "float",
                          "description": "value",
                          "x-ms-summary": "value"
                        }
                      },
                      "description": "sum",
                      "x-ms-summary": "sum"
                    },
                    "message": {
                      "type": "string",
                      "description": "message",
                      "x-ms-summary": "message"
                    },
                    "propertyDescription": {
                      "type": "string",
                      "description": "propertyDescription",
                      "x-ms-summary": "propertyDescription"
                    },
                    "apartmentNumber": {
                      "type": "string",
                      "description": "apartmentNumber",
                      "x-ms-summary": "apartmentNumber"
                    },
                    "organizationNumber": {
                      "type": "string",
                      "description": "organizationNumber",
                      "x-ms-summary": "organizationNumber"
                    }
                  },
                  "description": "rotRutDeduction",
                  "x-ms-summary": "rotRutDeduction"
                },
                "reversedVat": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "enabled",
                      "x-ms-summary": "enabled"
                    },
                    "number": {
                      "type": "string",
                      "description": "number",
                      "x-ms-summary": "number"
                    }
                  },
                  "description": "reversedVat",
                  "x-ms-summary": "reversedVat"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "orderNumber": {
                  "type": "string",
                  "description": "orderNumber",
                  "x-ms-summary": "orderNumber"
                },
                "orderDate": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderDate",
                  "x-ms-summary": "orderDate"
                },
                "shippingDate": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shippingDate",
                  "x-ms-summary": "shippingDate"
                },
                "referenceNumber": {
                  "type": "string",
                  "description": "referenceNumber",
                  "x-ms-summary": "referenceNumber"
                },
                "ourReference": {
                  "type": "string",
                  "description": "ourReference",
                  "x-ms-summary": "ourReference"
                },
                "yourReference": {
                  "type": "string",
                  "description": "yourReference",
                  "x-ms-summary": "yourReference"
                },
                "attachment": {
                  "type": "object",
                  "properties": {
                    "attachmentFileHash": {
                      "type": "string",
                      "description": "attachmentFileHash",
                      "x-ms-summary": "attachmentFileHash"
                    },
                    "useAttachment": {
                      "type": "boolean",
                      "description": "useAttachment",
                      "x-ms-summary": "useAttachment"
                    },
                    "attachmentOriginalName": {
                      "type": "string",
                      "description": "attachmentOriginalName",
                      "x-ms-summary": "attachmentOriginalName"
                    },
                    "newAttachment": {
                      "type": "boolean",
                      "description": "newAttachment",
                      "x-ms-summary": "newAttachment"
                    },
                    "copyAttachment": {
                      "type": "string",
                      "description": "copyAttachment",
                      "x-ms-summary": "copyAttachment"
                    },
                    "link": {
                      "type": "string",
                      "description": "link",
                      "x-ms-summary": "link"
                    }
                  },
                  "description": "attachment",
                  "x-ms-summary": "attachment"
                },
                "dueDays": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dueDays",
                  "x-ms-summary": "dueDays"
                },
                "invoiceDate": {
                  "type": "integer",
                  "format": "int32",
                  "description": "invoiceDate",
                  "x-ms-summary": "invoiceDate"
                },
                "dueDate": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dueDate",
                  "x-ms-summary": "dueDate"
                },
                "interestRate": {
                  "type": "number",
                  "format": "float",
                  "description": "interestRate",
                  "x-ms-summary": "interestRate"
                },
                "reminderFee": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "currency",
                      "x-ms-summary": "currency"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "reminderFee",
                  "x-ms-summary": "reminderFee"
                },
                "invoiceNumber": {
                  "type": "string",
                  "description": "invoiceNumber",
                  "x-ms-summary": "invoiceNumber"
                },
                "automaticCollection": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "enabled",
                      "x-ms-summary": "enabled"
                    }
                  },
                  "description": "automaticCollection",
                  "x-ms-summary": "automaticCollection"
                },
                "automaticReminders": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "automaticReminders",
                  "x-ms-summary": "automaticReminders"
                },
                "autogiro": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "enabled",
                      "x-ms-summary": "enabled"
                    }
                  },
                  "description": "autogiro",
                  "x-ms-summary": "autogiro"
                },
                "efaktura": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "enabled",
                      "x-ms-summary": "enabled"
                    },
                    "bank": {
                      "type": "string",
                      "description": "bank",
                      "x-ms-summary": "bank"
                    },
                    "recipientIdNumber": {
                      "type": "string",
                      "description": "recipientIdNumber",
                      "x-ms-summary": "recipientIdNumber"
                    },
                    "recipientType": {
                      "type": "string",
                      "description": "recipientType",
                      "x-ms-summary": "recipientType"
                    }
                  },
                  "description": "efaktura",
                  "x-ms-summary": "efaktura"
                },
                "deliveryMethod": {
                  "type": "string",
                  "description": "deliveryMethod",
                  "x-ms-summary": "deliveryMethod"
                },
                "forceResend": {
                  "type": "boolean",
                  "description": "forceResend",
                  "x-ms-summary": "forceResend"
                },
                "sendAsLetter": {
                  "type": "boolean",
                  "description": "sendAsLetter",
                  "x-ms-summary": "sendAsLetter"
                },
                "copyBillogram": {
                  "type": "string",
                  "description": "copyBillogram",
                  "x-ms-summary": "copyBillogram"
                }
              }
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "due_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "due_days",
                      "x-ms-summary": "due_days"
                    },
                    "info": {
                      "type": "object",
                      "properties": {
                        "reference_number": {
                          "type": "string",
                          "description": "reference_number",
                          "x-ms-summary": "reference_number"
                        },
                        "our_reference": {
                          "type": "string",
                          "description": "our_reference",
                          "x-ms-summary": "our_reference"
                        },
                        "order_no": {
                          "type": "string",
                          "description": "order_no",
                          "x-ms-summary": "order_no"
                        },
                        "shipping_date": {
                          "type": "string",
                          "description": "shipping_date",
                          "x-ms-summary": "shipping_date"
                        },
                        "order_date": {
                          "type": "string",
                          "description": "order_date",
                          "x-ms-summary": "order_date"
                        },
                        "message": {
                          "type": "string",
                          "description": "message",
                          "x-ms-summary": "message"
                        },
                        "delivery_date": {
                          "type": "string",
                          "description": "delivery_date",
                          "x-ms-summary": "delivery_date"
                        },
                        "your_reference": {
                          "type": "string",
                          "description": "your_reference",
                          "x-ms-summary": "your_reference"
                        }
                      },
                      "description": "info",
                      "x-ms-summary": "info"
                    },
                    "attested_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "attested_at",
                      "x-ms-summary": "attested_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "updated_at",
                      "x-ms-summary": "updated_at"
                    },
                    "automatic_collection": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "amount",
                          "x-ms-summary": "amount"
                        },
                        "delay_days": {
                          "type": "string",
                          "description": "delay_days",
                          "x-ms-summary": "delay_days"
                        }
                      },
                      "description": "automatic_collection",
                      "x-ms-summary": "automatic_collection"
                    },
                    "currency": {
                      "type": "string",
                      "description": "currency",
                      "x-ms-summary": "currency"
                    },
                    "detailed_sums": {
                      "type": "object",
                      "properties": {
                        "credited_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "credited_sum",
                          "x-ms-summary": "credited_sum"
                        },
                        "net_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "net_sum",
                          "x-ms-summary": "net_sum"
                        },
                        "gross_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "gross_sum",
                          "x-ms-summary": "gross_sum"
                        },
                        "invoice_fee_vat": {
                          "type": "integer",
                          "format": "int32",
                          "description": "invoice_fee_vat",
                          "x-ms-summary": "invoice_fee_vat"
                        },
                        "paid_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "paid_sum",
                          "x-ms-summary": "paid_sum"
                        },
                        "interest_fee": {
                          "type": "integer",
                          "format": "int32",
                          "description": "interest_fee",
                          "x-ms-summary": "interest_fee"
                        },
                        "vat_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "vat_sum",
                          "x-ms-summary": "vat_sum"
                        },
                        "reminder_fee": {
                          "type": "integer",
                          "format": "int32",
                          "description": "reminder_fee",
                          "x-ms-summary": "reminder_fee"
                        },
                        "invoice_fee": {
                          "type": "integer",
                          "format": "int32",
                          "description": "invoice_fee",
                          "x-ms-summary": "invoice_fee"
                        },
                        "rounding": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rounding",
                          "x-ms-summary": "rounding"
                        },
                        "regional_sweden": {
                          "type": "object",
                          "properties": {
                            "rotavdrag_sum": {
                              "type": "integer",
                              "format": "int32",
                              "description": "rotavdrag_sum",
                              "x-ms-summary": "rotavdrag_sum"
                            }
                          },
                          "description": "regional_sweden",
                          "x-ms-summary": "regional_sweden"
                        },
                        "collector_paid_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "collector_paid_sum",
                          "x-ms-summary": "collector_paid_sum"
                        },
                        "remaining_sum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "remaining_sum",
                          "x-ms-summary": "remaining_sum"
                        }
                      },
                      "description": "detailed_sums",
                      "x-ms-summary": "detailed_sums"
                    },
                    "id": {
                      "type": "string",
                      "description": "id",
                      "x-ms-summary": "id"
                    },
                    "reminder_fee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reminder_fee",
                      "x-ms-summary": "reminder_fee"
                    },
                    "interest_rate": {
                      "type": "number",
                      "format": "float",
                      "description": "interest_rate",
                      "x-ms-summary": "interest_rate"
                    },
                    "state": {
                      "type": "string",
                      "description": "state",
                      "x-ms-summary": "state"
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "offers",
                      "x-ms-summary": "offers"
                    },
                    "attachment": {
                      "type": "string",
                      "description": "attachment",
                      "x-ms-summary": "attachment"
                    },
                    "automatic_reminders": {
                      "type": "boolean",
                      "description": "automatic_reminders",
                      "x-ms-summary": "automatic_reminders"
                    },
                    "rounding_value": {
                      "type": "string",
                      "description": "rounding_value",
                      "x-ms-summary": "rounding_value"
                    },
                    "ocr_number": {
                      "type": "string",
                      "description": "ocr_number",
                      "x-ms-summary": "ocr_number"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type",
                            "x-ms-summary": "type"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "created_at",
                            "x-ms-summary": "created_at"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "total_sum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total_sum",
                                "x-ms-summary": "total_sum"
                              },
                              "scanning_central": {
                                "type": "boolean",
                                "description": "scanning_central",
                                "x-ms-summary": "scanning_central"
                              },
                              "remaining_sum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "remaining_sum",
                                "x-ms-summary": "remaining_sum"
                              },
                              "amount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "amount",
                                "x-ms-summary": "amount"
                              },
                              "delivery_method": {
                                "type": "string",
                                "description": "delivery_method",
                                "x-ms-summary": "delivery_method"
                              },
                              "invoice_no": {
                                "type": "integer",
                                "format": "int32",
                                "description": "invoice_no",
                                "x-ms-summary": "invoice_no"
                              }
                            },
                            "description": "data",
                            "x-ms-summary": "data"
                          }
                        }
                      },
                      "description": "events",
                      "x-ms-summary": "events"
                    },
                    "sales_accepted": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "sales_accepted",
                      "x-ms-summary": "sales_accepted"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "due_date",
                      "x-ms-summary": "due_date"
                    },
                    "automatic_reminders_settings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "automatic_reminders_settings",
                      "x-ms-summary": "automatic_reminders_settings"
                    },
                    "invoice_fee_vat": {
                      "type": "integer",
                      "format": "int32",
                      "description": "invoice_fee_vat",
                      "x-ms-summary": "invoice_fee_vat"
                    },
                    "invoice_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "invoice_date",
                      "x-ms-summary": "invoice_date"
                    },
                    "reminder_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reminder_count",
                      "x-ms-summary": "reminder_count"
                    },
                    "callbacks": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url",
                          "x-ms-summary": "url"
                        },
                        "sign_key": {
                          "type": "string",
                          "description": "sign_key",
                          "x-ms-summary": "sign_key"
                        },
                        "custom": {
                          "type": "string",
                          "description": "custom",
                          "x-ms-summary": "custom"
                        }
                      },
                      "description": "callbacks",
                      "x-ms-summary": "callbacks"
                    },
                    "interest_fee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "interest_fee",
                      "x-ms-summary": "interest_fee"
                    },
                    "invoice_no": {
                      "type": "integer",
                      "format": "int32",
                      "description": "invoice_no",
                      "x-ms-summary": "invoice_no"
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name",
                          "x-ms-summary": "name"
                        },
                        "vat_no": {
                          "type": "string",
                          "description": "vat_no",
                          "x-ms-summary": "vat_no"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone",
                          "x-ms-summary": "phone"
                        },
                        "customer_no": {
                          "type": "integer",
                          "format": "int32",
                          "description": "customer_no",
                          "x-ms-summary": "customer_no"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "type": "string",
                              "description": "city",
                              "x-ms-summary": "city"
                            },
                            "country": {
                              "type": "string",
                              "description": "country",
                              "x-ms-summary": "country"
                            },
                            "attention": {
                              "type": "string",
                              "description": "attention",
                              "x-ms-summary": "attention"
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "zipcode",
                              "x-ms-summary": "zipcode"
                            },
                            "careof": {
                              "type": "string",
                              "description": "careof",
                              "x-ms-summary": "careof"
                            },
                            "street_address": {
                              "type": "string",
                              "description": "street_address",
                              "x-ms-summary": "street_address"
                            }
                          },
                          "description": "address",
                          "x-ms-summary": "address"
                        },
                        "email": {
                          "type": "string",
                          "description": "email",
                          "x-ms-summary": "email"
                        },
                        "org_no": {
                          "type": "string",
                          "description": "org_no",
                          "x-ms-summary": "org_no"
                        }
                      },
                      "description": "customer",
                      "x-ms-summary": "customer"
                    },
                    "invoice_fee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "invoice_fee",
                      "x-ms-summary": "invoice_fee"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-summary": "url"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "count",
                            "x-ms-summary": "count"
                          },
                          "item_no": {
                            "type": "string",
                            "description": "item_no",
                            "x-ms-summary": "item_no"
                          },
                          "description": {
                            "type": "string",
                            "description": "description",
                            "x-ms-summary": "description"
                          },
                          "title": {
                            "type": "string",
                            "description": "title",
                            "x-ms-summary": "title"
                          },
                          "regional_sweden": {
                            "type": "object",
                            "properties": {
                              "electricity_collection": {
                                "type": "object",
                                "properties": {
                                  "nyttighet": {
                                    "type": "string",
                                    "description": "nyttighet",
                                    "x-ms-summary": "nyttighet"
                                  }
                                },
                                "description": "electricity_collection",
                                "x-ms-summary": "electricity_collection"
                              },
                              "rotavdrag": {
                                "type": "boolean",
                                "description": "rotavdrag",
                                "x-ms-summary": "rotavdrag"
                              }
                            },
                            "description": "regional_sweden",
                            "x-ms-summary": "regional_sweden"
                          },
                          "price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "price",
                            "x-ms-summary": "price"
                          },
                          "discount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "discount",
                            "x-ms-summary": "discount"
                          },
                          "unit": {
                            "type": "string",
                            "description": "unit",
                            "x-ms-summary": "unit"
                          },
                          "bookkeeping": {
                            "type": "object",
                            "properties": {
                              "objects": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "objects",
                                "x-ms-summary": "objects"
                              },
                              "vat_account": {
                                "type": "string",
                                "description": "vat_account",
                                "x-ms-summary": "vat_account"
                              },
                              "income_account": {
                                "type": "string",
                                "description": "income_account",
                                "x-ms-summary": "income_account"
                              }
                            },
                            "description": "bookkeeping",
                            "x-ms-summary": "bookkeeping"
                          },
                          "vat": {
                            "type": "integer",
                            "format": "int32",
                            "description": "vat",
                            "x-ms-summary": "vat"
                          }
                        }
                      },
                      "description": "items",
                      "x-ms-summary": "items"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "created_at",
                      "x-ms-summary": "created_at"
                    },
                    "total_sum": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_sum",
                      "x-ms-summary": "total_sum"
                    },
                    "delivery_method": {
                      "type": "string",
                      "description": "delivery_method",
                      "x-ms-summary": "delivery_method"
                    },
                    "remaining_sum": {
                      "type": "integer",
                      "format": "int32",
                      "description": "remaining_sum",
                      "x-ms-summary": "remaining_sum"
                    },
                    "flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "flags",
                      "x-ms-summary": "flags"
                    },
                    "regional_sweden": {
                      "type": "object",
                      "properties": {
                        "rotavdrag_personal_number": {
                          "type": "string",
                          "description": "rotavdrag_personal_number",
                          "x-ms-summary": "rotavdrag_personal_number"
                        },
                        "electricity_collection": {
                          "type": "object",
                          "properties": {
                            "kommunkod": {
                              "type": "string",
                              "description": "kommunkod",
                              "x-ms-summary": "kommunkod"
                            },
                            "slutfaktura": {
                              "type": "string",
                              "description": "slutfaktura",
                              "x-ms-summary": "slutfaktura"
                            },
                            "kravmall": {
                              "type": "string",
                              "description": "kravmall",
                              "x-ms-summary": "kravmall"
                            },
                            "naringsidkare": {
                              "type": "string",
                              "description": "naringsidkare",
                              "x-ms-summary": "naringsidkare"
                            },
                            "objtyp": {
                              "type": "string",
                              "description": "objtyp",
                              "x-ms-summary": "objtyp"
                            },
                            "avflyttad": {
                              "type": "string",
                              "description": "avflyttad",
                              "x-ms-summary": "avflyttad"
                            },
                            "frankopplad_datum": {
                              "type": "string",
                              "description": "frankopplad_datum",
                              "x-ms-summary": "frankopplad_datum"
                            },
                            "plombkod": {
                              "type": "string",
                              "description": "plombkod",
                              "x-ms-summary": "plombkod"
                            },
                            "anladr": {
                              "type": "string",
                              "description": "anladr",
                              "x-ms-summary": "anladr"
                            },
                            "avflyttad_datum": {
                              "type": "string",
                              "description": "avflyttad_datum",
                              "x-ms-summary": "avflyttad_datum"
                            },
                            "faktforb": {
                              "type": "string",
                              "description": "faktforb",
                              "x-ms-summary": "faktforb"
                            },
                            "natom": {
                              "type": "string",
                              "description": "natom",
                              "x-ms-summary": "natom"
                            },
                            "anlid": {
                              "type": "string",
                              "description": "anlid",
                              "x-ms-summary": "anlid"
                            },
                            "faktfrek": {
                              "type": "string",
                              "description": "faktfrek",
                              "x-ms-summary": "faktfrek"
                            },
                            "arsforb": {
                              "type": "string",
                              "description": "arsforb",
                              "x-ms-summary": "arsforb"
                            },
                            "frankopplad": {
                              "type": "string",
                              "description": "frankopplad",
                              "x-ms-summary": "frankopplad"
                            }
                          },
                          "description": "electricity_collection",
                          "x-ms-summary": "electricity_collection"
                        },
                        "autogiro_payment_date": {
                          "type": "string",
                          "description": "autogiro_payment_date",
                          "x-ms-summary": "autogiro_payment_date"
                        },
                        "autogiro_status": {
                          "type": "string",
                          "description": "autogiro_status",
                          "x-ms-summary": "autogiro_status"
                        },
                        "rotavdrag_housing_association_org_no": {
                          "type": "string",
                          "description": "rotavdrag_housing_association_org_no",
                          "x-ms-summary": "rotavdrag_housing_association_org_no"
                        },
                        "autogiro_full_status": {
                          "type": "string",
                          "description": "autogiro_full_status",
                          "x-ms-summary": "autogiro_full_status"
                        },
                        "efaktura_requested_amount": {
                          "type": "string",
                          "description": "efaktura_requested_amount",
                          "x-ms-summary": "efaktura_requested_amount"
                        },
                        "rotavdrag_description": {
                          "type": "string",
                          "description": "rotavdrag_description",
                          "x-ms-summary": "rotavdrag_description"
                        },
                        "autogiro_total_sum": {
                          "type": "string",
                          "description": "autogiro_total_sum",
                          "x-ms-summary": "autogiro_total_sum"
                        },
                        "efaktura_recipient_bank_code": {
                          "type": "string",
                          "description": "efaktura_recipient_bank_code",
                          "x-ms-summary": "efaktura_recipient_bank_code"
                        },
                        "rotavdrag_apartment_designation": {
                          "type": "string",
                          "description": "rotavdrag_apartment_designation",
                          "x-ms-summary": "rotavdrag_apartment_designation"
                        },
                        "rotavdrag_description_of_property": {
                          "type": "string",
                          "description": "rotavdrag_description_of_property",
                          "x-ms-summary": "rotavdrag_description_of_property"
                        },
                        "efaktura_recipient_bank_id": {
                          "type": "string",
                          "description": "efaktura_recipient_bank_id",
                          "x-ms-summary": "efaktura_recipient_bank_id"
                        },
                        "rotavdrag": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rotavdrag",
                          "x-ms-summary": "rotavdrag"
                        },
                        "efaktura_recipient_type": {
                          "type": "string",
                          "description": "efaktura_recipient_type",
                          "x-ms-summary": "efaktura_recipient_type"
                        },
                        "efaktura_recipient_bank_name": {
                          "type": "string",
                          "description": "efaktura_recipient_bank_name",
                          "x-ms-summary": "efaktura_recipient_bank_name"
                        },
                        "autogiro_betalarnummer": {
                          "type": "string",
                          "description": "autogiro_betalarnummer",
                          "x-ms-summary": "autogiro_betalarnummer"
                        },
                        "reversed_vat": {
                          "type": "string",
                          "description": "reversed_vat",
                          "x-ms-summary": "reversed_vat"
                        },
                        "efaktura_recipient_identifier": {
                          "type": "string",
                          "description": "efaktura_recipient_identifier",
                          "x-ms-summary": "efaktura_recipient_identifier"
                        },
                        "efaktura_recipient_id_number": {
                          "type": "string",
                          "description": "efaktura_recipient_id_number",
                          "x-ms-summary": "efaktura_recipient_id_number"
                        }
                      },
                      "description": "regional_sweden",
                      "x-ms-summary": "regional_sweden"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/billogram/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "due_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "due_days",
                      "x-ms-summary": "due_days"
                    },
                    "info": {
                      "type": "object",
                      "properties": {
                        "reference_number": {
                          "type": "string",
                          "description": "reference_number",
                          "x-ms-summary": "reference_number"
                        },
                        "our_reference": {
                          "type": "string",
                          "description": "our_reference",
                          "x-ms-summary": "our_reference"
                        },
                        "order_no": {
                          "type": "string",
                          "description": "order_no",
                          "x-ms-summary": "order_no"
                        },
                        "shipping_date": {
                          "type": "string",
                          "description": "shipping_date",
                          "x-ms-summary": "shipping_date"
                        },
                        "order_date": {
                          "type": "string",
                          "description": "order_date",
                          "x-ms-summary": "order_date"
                        },
                        "message": {
                          "type": "string",
                          "description": "message",
                          "x-ms-summary": "message"
                        },
                        "delivery_date": {
                          "type": "string",
                          "description": "delivery_date",
                          "x-ms-summary": "delivery_date"
                        },
                        "your_reference": {
                          "type": "string",
                          "description": "your_reference",
                          "x-ms-summary": "your_reference"
                        }
                      },
                      "description": "info",
                      "x-ms-summary": "info"
                    },
                    "attested_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "attested_at",
                      "x-ms-summary": "attested_at"
[...]
